/* Base styling */
body {
  font-family: "Nerko One", sans-serif;
  /* background-color: rgb(243, 236, 236) */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nerko One", sans-serif;
}

/* Navbar */
.nav-header {
  background-color: #fa5a5f;
}

.nav-title {
  font-size: 3rem;
  color: #49f2cb;
}

.nav-body {
  font-size: 1.5rem;
  color: #49f2cb;
}

/* Leftover styling */
.title-quiz {
  color: rgb(139, 133, 115);
}

label,
.input-quiz,
.quiz-h {
  position: relative;
  left: 100px;
}

a {
  text-decoration: none !important;
  color: #777a7c;
}

.header-quiz {
  margin-top: 40px;
  color: rgb(139, 133, 115);
}

.form-quiz {
  padding-top: 20px;
  color: #674f20;
  bottom: 45px;
  background-color: #ffffff;
}

.title-main {
  color: #b6a28b;
  padding-top: 5px;
}

.category:hover {
  background-color: #dab383;
  color: white;
}

/* Webkit Scrollbar Deco */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edebe9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(222, 140, 26);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 92, 89);
}
